* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust_label {
    background-color: #fff;
    border: 1px solid #d1d5dc;
    border-radius: 25px;
    width: 270px;
    height: 40px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users_img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
}

.users_img {
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trust_label p {
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-right: 4px;
}


#user2 {
    transform: translateX(-8px);
}

#user3 {
    transform: translateX(-16px);
}