* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.954);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.signin_card {
    width: 350px;
    height: 450px;
    background-color: #0f172b;
    border: 1px solid #314158;
    border-radius: 20px;
    padding: 40px 20px 20px 20px;
}

.heads h2 {
    font-size: 24px;
}

.heads p {
    color: #cad5e2;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.input_box {
    margin-top: 20px;
    font-size: 14px;
}

.input_box input {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #314158;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    background: none;
    outline: none;
}

.input_box p {
    color: #cad5e2;
}

#forgot-password {
    font-size: 14px;
    color: #4f39f6;
    text-align: right;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
}

#signin-btn {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background: #4f39f6;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
