/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

/* Page background */
body{
  background:#0f172a;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Card */
.login-box{
  width:320px;
  background:#020617;
  color:white;
  padding:30px 25px;
  border-radius:12px;
  border:1px solid #334155;
}

/* Headings */
.login-box h2{
  font-size:24px;
}

.subtext{
  color:#cbd5e1;
  margin-top:5px;
}

/* Form spacing */
form{
  margin-top:30px;
}

/* Labels */
label{
  display:block;
  font-size:14px;
  margin-bottom:5px;
  color:#cbd5e1;
}

/* Inputs */
input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:6px;
  background:#020617;
  border:1px solid #334155;
  color:white;
  outline:none;
}

/* Focus effect */
input:focus{
  border-color:#6366f1;
  box-shadow:0 0 0 1px #6366f1;
}

/* Forgot password */
.forgot{
  text-align:right;
  margin-bottom:25px;
}

.forgot a{
  color:#6366f1;
  font-size:14px;
  text-decoration:none;
}

.forgot a:hover{
  color:#818cf8;
}

/* Button */
button{
  width:100%;
  padding:12px;
  background:#4f46e5;
  border:none;
  border-radius:6px;
  color:white;
  cursor:pointer;
  font-weight:500;
}

/* Button hover */
button:hover{
  background:#4338ca;
}