* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #101828;
    color: white;
    padding: 0 30px 0 30px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
}

h1 {
    text-align: center;
    font-weight: medium;
    margin-top: 40px;
}

.login_texts p {
    text-align: center;
    margin-top: 8px;
    color: #99a1af;
    font-size: 14px;
}

.input-group {
    margin-top: 16px;
}

.input-group input {
    width: 80%;
    height: 24px;
    font-size: 16px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
}
.input-group input::placeholder {
    color: #99a1af;
    font-size: 14px;
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #1e293b;
    width: 100%;
    height: 48px;
    border-radius: 25px;
}

.input-group img {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

a {
    color: #7c86ff;
    text-decoration: none;
}

.forgot_password {
    text-align: left;
    margin-top: 16px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

#login-btn {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 8px;
    background: #4f39f6;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

#login-btn:hover {
    background: #615fff;
    transition: 0.3s;
}

#signup {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    margin: 12px 0 44px 0;
    color: #99a1af;
    cursor: pointer;
}