* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_renew {
    width: 360px;
    height: 42px;
    background-color: #2b7fff33;
    border: 1px solid #2b80ffa0;
    border-radius: 25px;
    padding: 4px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    background-color: #2b7fff;
    border-radius: 25px;
    width: 91px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 4px;
    color: #fff;
}

.user img {
    width: 24px;
    height: 24px;
    border-radius: 50%;

}

#subrenew-txt {
    margin-left: -25px;
    margin-right: 10px;
    color: #155dfc;
    text-align: center;
}
