/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Center card on screen */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f8;
}

.login_card {
    height: 450px;
    width: 320px;
    border: 1px solid #9a9a9ab4;
    border-radius: 5px;
    padding: 30px 24px;
}

.icon {
    height: 32px;
    width: 32px;
    color: #2b7fff;
}

.icon_box {
    height: 64px;
    width: 63px;
    border-radius: 50%;
    margin: 0 100px 24px 100px;
    background-color: #dbeafe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    color: #1e2939;
    margin-bottom: 24px;
    text-align: center;
}

.input_group label {
    font: bold;
    color: #364153;
    margin-bottom: 4px;
    font-size: 14px;
}

.input_group input {
    width: 100%;
    padding: 8px 12px;
    background: transparent;
    outline: none;
    border: 1px solid #818181;
    border-radius: 6px;
    margin-bottom: 24px;
}

.input_group input:focus {
    border: 2px solid #2b7fff;
    transition: 0.5s;
}

.login_btn {
    width: 100%;
    height: 40px;
    background: #2b7fff;
    color: white;
    font: bold;
    font-size: 16px;
    padding: 8px 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.login_btn:hover {
    background: #0f6fff;
    transition: 0.5s;
}

.forgot a {
    text-align: center;
    font-size: 14px;
    color: #2b7fff;
    text-decoration: none;
    margin-left: 80px;
}

.forgot a:hover {
    font: bold;
    transition: 0.5s;
}



