* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 50px;
    border-bottom: 1px solid #ccc;
}

.logo img{
    height: 36px;
}

.nav_links ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav_links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

#login-btn {
    width: 100%;
    border: none;
    outline: none;
    background: #615fff;
    padding: 8px 18px;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}

.nav_links .fa-cart-shopping {
    color: #615fff;
}

.cart {
    font-size: 18px;
    position: relative;
}

#login-btn:hover {
    background: #8381ff;
}


.cart_count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #615fff;
    width: 18px;
    height: 18px;
    font-size: 11px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navtxt:hover {
    color: #615fff;
}
