* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}

/* Main container */
.page {
    display: flex;
    height: 100vh;
}

/* Left side img */
.left {
    width: 50%;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right side */
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login card */
.login_box {
    width: 320px;
    text-align: center;
}

.login_box h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.login_box p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Google button */
.google_btn {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    background: #eee;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Divider line */

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider span {
    flex: 1;
    /* <-- What */
    height: 1px;
    background: #ccc;
}

.divider small {
    margin: 0 10px;
    font-size: 12px;
    color: #777;
}


.input_box {
    /* IMP From this*/
    border: 1px solid #ccc;
    border-radius: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px;
}

.input_box input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    /*To this */
}

/* Remember me */
.remember_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #777;
    margin-top: 10px;
}

.remember_me input {
    margin-right: 3px;
    width: 15px;
}

.remember_me a {
    color: #4f46e5;
    text-decoration: none;
}

.remember_me label {
    display: flex;
    align-items: center;
}

/* Login button */
#login-btn {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background: #4f46e5;
    color: white;
    margin-top: 25px;
    font-size: 1rem;
    cursor: pointer;
}

/* Signup text */
.signup {
    margin-top: 15px;
    font-size: 13px;
    color: #777;
}

.signup a {
    color: #4f46e5;
    text-decoration: none;
}







/* Login button */
/* #login-btn {
    width: 100%;
    height: 45px;
} */