* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinss', sans-serif;
}

body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple_badge {
    width: 194px;
    height: 29px;
    background-color: #fef2f2;
    color: #e7000b;
    border: 1px solid #ffc9c9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.dot {
    background-color: #e7000b;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

.badge_text {
    font-size: 14px;
}