* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    height: 40px;
    padding: 10px 40px;
    background: linear-gradient(to right, #7f22fe, #8e51ff, #f3e8ff);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore_btn {
    width: 120px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #7f22fe;
    background-color: #f5f3ff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.explore_btn:hover {
    background-color: #f9f3f4;
}