* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #101828;
    color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding: 10px 30px 0 30px;
}

.headings {
    text-align: center;
    margin-top: 24px;
}

.headings h1 {
    font-weight: medium;
}

.headings p {
    color: #99a1af;
    margin-top: 8px;
    font-size: 14px;
}

.input-group {
    margin-top: 24px;
}

.input-group input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 8px 12px;
    color: white;
    background-color: #1e293b;
    border-radius: 25px;
    border: none;
    outline: none;
}

.input-group input::placeholder {
    color: #99a1af;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.forgot-password a {
    color: #7c86ff;
    text-align: left;
    font-size: 14px;
}

.forgot-password {
    margin-top: 14px;
}

#signup-btn {
    width: 100%;
    height: 45px;
    background: #4f39f6;
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

#signup-btn:hover {
    background: #615fff;
    transition: 0.3s;
}

.login-way {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-way a {
    color: #99a1af;
    font-size: 14px;
    text-decoration: none;
}

.login-way span {
    color: #7c86ff;
}

.login-way span:hover {
    text-decoration: underline;
    transition: 0.3s;
}